<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">{{name}}</li>
</ol>


<div class="page-header auction-header">
  <h1>
    ~ {{name}} ~
  </h1>
  <h2>
    {{auctionDate}}
  </h2>
</div>

<h4>Auction Lots: </h4>
<ul class="no-padding">
    {{#each lot in lots}}
      <li class="auction_list row">
        <div class="col-xs-3">
          <img class="auction-image" src="css/imgs/fancy_toilet_2.jpg" alt="placeholder toilet" />
        </div>
        <div class="col-xs-9">
          {{#link-to 'lot' lot}}
            <h3>{{lot.name}}</h3>
            <h4>{{lot.period}}</h4>
          {{/link-to}}
            <p>{{lot.items.length}}</p>
            <button class="btn btn-primary" {{action 'lotDelete' lot}}>Delete</button>
        </div>
      </li>
    {{/each}}
</ul>

{{outlet}}

{{#if showAdd}}
  <a class="btn" {{action 'toggleAdd'}}>Add lot to this auction</a>
{{/if}}
