<ol class="breadcrumb">

  <li><a href="#">Home</a></li>

  <li>
    {{#link-to 'auction' auction.id}}
      <a >{{auction.name}}</a>
    {{/link-to}}
  </li>

  <li class="active">{{name}}</li>

</ol>

<ul>
{{#each item in items}}
  <li>{{item.name}}, {{item.value}}</li>
{{/each}}
</ul>

{{outlet}}

{{#if showAdd}}
  <a class="btn" {{action 'toggleAdd'}}>Add an item to this lot</a>
{{/if}}
<!-- {{#link-to 'newItem' this.id}}
{{/link-to}} -->
