<ol class="breadcrumb">

  <li><a href="#">Home</a></li>

  <li>
    {{#link-to 'auction' auction.id}}
      <a >{{auction.name}}</a>
    {{/link-to}}
  </li>

  <li class="active">{{name}}</li>

</ol>

{{outlet}}

{{#link-to 'newItem' this.id}}
  <a class="btn">Add an item to this lot</a>
{{/link-to}}

<ul>
{{#each item in items}}
  <li>{{item.name}}, {{item.value}}</li>
{{/each}}
</ul>
